@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');





:root {
--background: #FAFAFA;
--greentext: #51876E;
--blacktext: #0A0A0A;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Nunito'

}

/* <--header--> */

header {
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0px;

  
}

.logo {
    height: 35%;

}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    gap: 130px;

}

.navbar-list {
    gap: 30px;

}

.navbar-list a {
    color: #51876E;
    font-size: 16px;



}

.plant-icon {
    height: 40px;
    cursor: pointer;


}
#menu-toggle,
.menu-label {
    display: none;


}




main {
background-color: #f5f5f5;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: black;
width: 100%;

}

#hero {
margin-top: 60px;
padding: 60px 10px;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;



}

.hero-info {
display: flex;
flex-direction: column;
gap: 40px;
width: 50%;

}

.hero-info h1 {
font-family: 'DM Sans', sans-serif;
font-size: 54px;
line-height: 1em;
width: 75%;
min-width: 500px;
color: #51876E;
}

.hero-info p {
    font-size: 22px;
    width: 75%;
    min-width: 500px;
    color:black;
    font-weight: 800px;
}

.hero-info a {
color: white;
background-color: #F06868;
width: 160px;
border-radius: 20px;
padding: 12px;
text-align: center;
font-weight: 600;
font-size: 14px;
letter-spacing: 4px;

}

.hero-img {
    display:flex;
width: 500px;
height: 500px;

}

#info {
padding: 70px;
width: 70%;
max-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: 600px;
gap: 20px;
flex-direction: column;
}

#info h2 {
    font-size: 36px;
    color: #F06868;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;


}

#info p span {
    font-weight: 700;
}

#product-cards {
display: flex;
gap: 30px;
flex-wrap: wrap;


}

.products-conteiner {
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
    


}

.product {
    display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-direction: column;
flex-wrap: wrap;
background-color:#ffffff;
padding: 15px;
border-radius: 1rem;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}

.product-img
{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    
}

.product-info h3 {
    font-size: 24px;
    font-family: 'DM Sans', sans-serif;

}

.price {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20%;
width: 90%;
color: rgb(73, 73, 73);



}

.product-price {
    
    font-size: 18px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    


}

.add {
    
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #f5f5f5;
    background-color: #51876E;
    border-radius: 1rem;
    padding: 10px 15px;
    align-items: flex-end;
    cursor: pointer;
    
}

.ver-mas {
border: none;
font-size: 20px;
font-weight: 600;
padding: 10px 20px;
margin-top: 60px;
margin-bottom: 60px;
color: #51876E;
border-radius: 1rem;
cursor: pointer;
}

.comunidad-container {

display: flex;
justify-content: center;
align-items: center;
gap: 30px;
width: 100%;
max-width: 1200px;



}

.texto {
display: flex;
flex-direction: column;
width: 50%;
gap: 30px;

}

.texto h2 {
    font-size: 36px;
    color: #F06868;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
}

.texto p {
    font-size: 22px;
    width: 80%;
    min-width: 500px;
    color:black;
    font-weight: 800px;
    display: flex;
}


.datos {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    background-color: #6da88c;
    color: #FAFAFA;
    width: 50%;
    padding: 25px;
    border-radius: 2rem;
    gap: 10px;
}

#Nombre {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 10px;
}

#E-mail {
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 10px;
}

#Nombre::placeholder {
    padding: 5px;
color: grey;
font-weight: 400;
font-size: 18px;

}

#E-mail::placeholder {
    padding: 5px;
color: grey;
font-weight: 400;
font-size: 18px;
}

#submit {
    border: none;
    padding: 10px;
    color: #FAFAFA;
    background-color: #4a7c65;
    border-radius: 1rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#contact {
width: 100%;
align-items: center;
justify-content: center;
display: flex;




}

.visitanos {
background-color: rgb(133, 137, 150);
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 80px;
flex-wrap: wrap;



}

.visitanos-texto h2 {
color: #FAFAFA;
font-size: 32px;
font-family: 'DM Sans', sans-serif;

}

.visitanos-texto {
color: #FAFAFA;
font-size: 18px;
line-height: 2.5;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
background-color: #f5f5f5;
padding: 50px 0px;
gap:30px;
font-size: 16px;
letter-spacing: 5px;

}

footer span {
    font-weight: 600;
    letter-spacing: 5px;
    color: gray;
}

.links {
display: flex;
justify-content: center;
align-items: center;
gap: 15px;


}

.links img {
    height: 30px;
}

